<div class="form-group">
    <label class="control-label col-md-2">Nombre</label>
    <div class="col-md-4">
        <input id="chofer-nombre-input" class="form-control input-xs" disabled="disabled" type="text">
    </div>
    <label class="control-label col-md-2">Apellido</label>
    <div class="col-md-4">
        <input id="chofer-apellido-input" class="form-control input-xs" disabled="disabled" type="text">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">Documento</label>
    <div class="col-md-4">
        <input id="chofer-dni-input" class="form-control input-xs" disabled="disabled" type="text">
    </div>
    <label class="control-label col-md-2">Teléfono</label>
    <div class="col-md-4">
        <input id="chofer-mobile-input" class="form-control input-xs" disabled="disabled" type="text">
    </div>
</div>