<div class="form-group">
    <label class="control-label col-md-2">Nombre</label>
    <div class="col-md-4">
        <input id="chofer-nombre-input" class="form-control input-xs" disabled="disabled" type="text">
    </div>
    <label class="control-label col-md-2">Apellido</label>
    <div class="col-md-4">
        <input id="chofer-apellido-input" class="form-control input-xs" disabled="disabled" type="text">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">Fecha de Nacimiento</label>
    <div class="col-md-4">
        <input id="chofer-nacimiento-input" class="form-control input-xs" disabled="disabled" type="text">
    </div>
    <label class="control-label col-md-2">Nacionalidad</label>
    <div class="col-md-4">
        <input id="chofer-nacionalidad-input" class="form-control input-xs" disabled="disabled" type="text">
    </div>
</div>