<!-- Modal -->
<div class="modal fade" id="alta-tractor" metodo="POST" patente="" tabindex="-1" role="dialog" aria-labelledby="alta-tractor-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="alta-tractor-label"><span id="modal-alta-titulo">Alta</span></h4>
            </div>
            <form id="form-alta-tractor" method="post">
                <div class="modal-body">
                    <div id="modal-alta-tractor-mensajeTractorNuevo" class="alert alert-info alert-block">
                        <a class="close" data-dismiss="alert" href="#">×</a>
                        No se encontró el Tractor. Por favor, completa los datos para darlo de alta.
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="modal-alta-tractor-input-trade"> Marca</label>
                                <select class="form-control" id="modal-alta-tractor-input-trade" name="trade">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="modal-alta-tractor-input-color"> Color</label>
                                <select class="form-control" id="modal-alta-tractor-input-color" name="color">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="modal-alta-tractor-input-axis"> Cantidad de Ejes</label>
                                <input type="text" class="form-control" id="modal-alta-tractor-input-axis" name="axis" placeholder="Cantidad de Ejes" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="button" id="guardar-alta-tractor" class="btn btn-primary">
                        Guardar
                    </button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->