{% extends 'CoreBundle:Default:backend.html.twig' %}

{% block pageHeader %}Administración de playa{% endblock %}

{% block iconPageHeader %}list-ul{% endblock %}

{% block widgetName %}Administración de playa{% endblock %}

{% block widgetIcon %}truck{% endblock %}

{% block widgetBody %}

    <table id="dataTable" class="table table-striped table-bordered" width="100%">

        <thead>
            <tr>
                <th class="hasinput" style="width:17%" rowspan="1" colspan="1">
                    <input type="text" class="form-control" placeholder="Buscar Patente">
                </th>
                <th class="hasinput" style="width:17%" rowspan="1" colspan="1">
                    <input type="text" class="form-control" placeholder="Buscar Terminal">
                </th>
                <th class="hasinput" style="width:17%" rowspan="1" colspan="1">
                    <input type="text" class="form-control" placeholder="Buscar Operatoria">
                </th>
                <th class="hasinput" style="width:17%" rowspan="1" colspan="1">
                    <input type="text" placeholder="Buscar Hora Entrada" class="form-control clockpicker" data-autoclose="true">
                </th>
                <th class="hasinput" style="width:17%" rowspan="1" colspan="1">
                    <input type="text" class="form-control" placeholder="Buscar Fecha Alta Turno">
                </th>
                <th class="hasinput" style="width:17%" rowspan="1" colspan="1">
                    <input type="text" placeholder="Buscar Hora Inicio Turno" class="form-control clockpicker" data-autoclose="true">
                </th>
                <th class="hasinput" style="width:17%" rowspan="1" colspan="1">
                    <input type="text" placeholder="Buscar Hora Fin Turno" class="form-control clockpicker" data-autoclose="true">
                </th>
                <th class="hasinput" style="width:17%" rowspan="1" colspan="1">
                    <input type="text" class="form-control" placeholder="Buscar Estado Llegada">
                </th>
                <th class="hasinput" style="width:17%" rowspan="1" colspan="1">
                    <input type="text" class="form-control" placeholder="Buscar Terminal">
                </th>
                <th class="hasinput" style="width:17%" rowspan="1" colspan="1">
                    <input type="text" class="form-control" placeholder="Buscar Tipo Movimiento">
                </th>
                <th class="hasinput" style="width:17%" rowspan="1" colspan="1">
                    <input type="text" class="form-control" placeholder="Buscar Tipo Carga">
                </th>
                <th></th>
            </tr>
            <tr>
                <th>Patente</th>
                <th>Terminal</th>
                <th>Contenedor</th>
                <th>Hora Entrada</th>
                <th>Fecha Alta Turno</th>
                <th>Hora Inicio Turno</th>
                <th>Hora Fin Turno</th>
                <th>Estado Llegada</th>
                <th>Terminal</th>
                <th>Tipo Movimiento</th>
                <th>Carga</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody id="tbody-camiones">
        </tbody>

    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include '::dataTables.html.twig' %}
    <script src="{{ asset('bundles/camiones/js/widgets.js') }}"></script>
    <script>
        $(document).ready(function() {
            new PlayaWidget({
                urlStatus: "{{ path('status') }}"//window.transporte.apiURL + "/gates/ZAP/0/10000"
            });
        });
    </script>
{% endblock %}