<div class="form-group">
    <label class="control-label col-md-2">Dominio</label>
    <div class="col-md-4">
        <input id="playo-dominio-input" class="form-control input-xs" disabled="disabled" type="text">
    </div>
    <label class="control-label col-md-2">Tipo</label>
    <div class="col-md-4">
        <input id="playo-tipo-input" class="form-control input-xs" disabled="disabled" type="text">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">Cantidad Ejes</label>
    <div class="col-md-4">
        <input id="playo-cantidad_ejes-input" class="form-control input-xs" disabled="disabled" type="text">
    </div>
    <label class="control-label col-md-2">Color</label>
    <div class="col-md-4">
        <input id="playo-color-input" class="form-control input-xs" disabled="disabled" type="text">
    </div>
</div>