{% extends 'CoreBundle:Default:backend.html.twig' %}

{% block pageHeader %}Administración de playa{% endblock %}

{% block iconPageHeader %}list-ul{% endblock %}

{% block widgetName %}<div style="width:100%">Camiones:&nbsp;<span id="span-camionesCant"></span>&nbsp;<span id="span-turnosCant"></span></div>{% endblock %}

{% block widgetIcon %}truck{% endblock %}

{% block widgetBody %}
    <div class="row" witdh="60%" align="width:100%">
        <div class="col-md-6" witdh="20%">
            <button id="btnChangeCamion" type="button" class="btn" data-dismiss="modal">Camión</button>
        </div>
        <div class="col-md-6" witdh="20%">
            <button id="btnChangeChofer" type="button" class="btn" data-dismiss="modal">Chofer</button>
        </div>
        <div class="col-md-6" witdh="20%">
            <button id="btnAnular" type="button" class="btn" data-dismiss="modal">Anular</button>
        </div>
    </div>
    
    <table id="dataTable" class="table table-striped table-bordered" width="100%">

        <thead>
            <tr>
                <th class="hasinput" style="width:10%" rowspan="1" colspan="1">
                    <input type="text" class="form-control" placeholder="Buscar Patente">
                </th>
                <th class="hasinput" style="width:10%" rowspan="1" colspan="1">
                    <input type="text" class="form-control" placeholder="Buscar Contenedor">
                </th>
                <th class="hasinput" style="width:25%" rowspan="1" colspan="1">
                    <input type="text" placeholder="Buscar Hora Entrada" class="form-control clockpicker" data-autoclose="true">
                </th>
                <th class="hasinput" style="width:9%" rowspan="1" colspan="1">
                    <input type="text" placeholder="Buscar Espera" class="form-control" data-autoclose="true">
                </th>
                <th class="hasinput" style="width:10%" rowspan="1" colspan="1">
                    <input type="text" placeholder="Buscar Inicio Turno" class="form-control clockpicker" data-autoclose="true">
                </th>
                <th class="hasinput" style="width:8%" rowspan="1" colspan="1">
                    <input type="text" class="form-control" placeholder="Buscar Al Turno">
                </th>
                <th class="hasinput" style="width:10%" rowspan="1" colspan="1">
                    <input type="text" class="form-control" placeholder="Buscar Operatoria">
                </th>
                <th class="hasinput" style="width:10%" rowspan="1" colspan="1">
                    <input type="text" class="form-control" placeholder="Buscar Destino">
                </th>
                <th style="width:8%" rowspan="1" colspan="1"></th>
            </tr>
            <tr>
                <th>Patente</th>
                <th>Contenedor</th>
                <th>Entrada</th>
                <th>Espera</th>
                <th>Turno</th>
                <th>Al Turno</th>
                <th>Operatoria</th>
                <th>Destino</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody id="tbody-camiones">
        </tbody>

    </table>

    {% include "CamionesBundle:Camiones:modal_alta_chofer.html.twig" %}
    {% include "CamionesBundle:Camiones:modal_alta_tractor.html.twig" %}
    {% include "CamionesBundle:Camiones:modal_alta_playo.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include '::dataTables.html.twig' %}
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="{{ asset('bundles/camiones/js/widgets.js') }}"></script>
    <script>
        var SOCKET_URL = 'http://terminales.puertobuenosaires.gob.ar:8090';
        $(document).ready(function() {

            var socket = io.connect(SOCKET_URL);
            socket.on('connect', function(param) {
                console.log("Socket Conectado");
            });
            new PlayaWidget({
                urlStatus: "{{ path('status') }}", //window.transporte.apiURL + "/gates/IN/ZAP/0/10000"
                socket: socket
            });
        });
    </script>
{% endblock %}