<legend>Datos del Tractor</legend>
<div class="form-group" id="form-group-tractor">
    {{ form_label(form.tractor_patente) }}
    <div class="col-md-10">
        <div class="input-group">
            {{ form_widget(form.tractor_patente, {'attr' : {'class' : 'form-control', 'list' : 'tractores-list'} }) }}
            <datalist id="tractores-list"></datalist>
            <div class="input-group-btn">
                <a class="btn btn-primary" style="width: 150px" href="javascript:void(0);" id="buscar_tractor">Consultar Tractor</a>
            </div>
        </div>
        <span style="display:none" id="tractor-empty" class="help-block"><i class="fa fa-warning"></i> Debe ingresar una Patente</span>
        <span style="display:none" id="tractor-not-found" class="help-block"><i class="fa fa-warning"></i> No se encontró Tractor. Registrar 
            <a class="" href="javascript:void(0);" id="cargar_tractor">aquí</a>
        </span>
        <span style="display:none" id="tractor-cnrt-not-found" class="help-block"><i class="fa fa-warning"></i> No se encontraron datos del Tractor en CNRT</span>
        <span style="display:none" id="tractor-error" class="help-block turno-error"></span>
    </div>
</div>
<div style="display:none" id="tractor-data">
    {% include "CamionesBundle:Camiones:tractor_data.html.twig" %}
</div>