<div class="form-group">
    <label class="control-label col-md-2">Dominio</label>
    <div class="col-md-4">
        <input id="tractor-dominio-input" class="form-control input-xs" disabled="disabled" type="text">
    </div>
    <label class="control-label col-md-2">Año Modelo</label>
    <div class="col-md-4">
        <input id="tractor-anio_modelo-input" class="form-control input-xs" disabled="disabled" type="text">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">Cantidad Ejes</label>
    <div class="col-md-4">
        <input id="tractor-cantidad_ejes-input" class="form-control input-xs" disabled="disabled" type="text">
    </div>
    <label class="control-label col-md-2">Razón Social</label>
    <div class="col-md-4">
        <input id="tractor-razon_social-input" class="form-control input-xs" disabled="disabled" type="text">
    </div>
</div>