<div class="form-group">
    <label class="control-label col-md-2">Titular</label>
    <div class="col-md-4">
        <input id="tractor-titular-input" class="form-control input-xs" disabled="disabled" type="text">
    </div>
    <label class="control-label col-md-2">Documento</label>
    <div class="col-md-4">
        <input id="tractor-documento-input" class="form-control input-xs" disabled="disabled" type="text">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">Marca</label>
    <div class="col-md-4">
        <input id="tractor-marca-input" class="form-control input-xs" disabled="disabled" type="text">
    </div>
    <label class="control-label col-md-2">Tipo</label>
    <div class="col-md-4">
        <input id="tractor-tipo-input" class="form-control input-xs" disabled="disabled" type="text">
    </div>
</div>