<div id="marcas">
  <div style="background: url('../../../images/backend/atencion_ciudadanab.png') no-repeat;width: 190px;float:left;height: 95px;"></div>
  <div style="background: url('../../../images/backend/tecnopublicab.png') no-repeat;width: 300px;float:right;height: 90px;"></div>
</div>
