<nav>
    <!--
    NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
        {{ current_path }}
    -->
    {% include ":default:_menu.html.twig" %}
</nav>