<div id="ribbon">

	<!-- breadcrumb -->
	<ol class="breadcrumb">
	</ol>
	<!-- end breadcrumb -->
    <span class="ribbon-button-alignment pull-right">
        <span style="color:#E4E4E4" id="realtime-date"></span></span>
    </span>
</div>